// location section //
.section-locations {
  background-color: #fff;
  color: #000;
  position: relative;

  img {
    height: 300px;
    width: 450px;
    border-radius: 5%;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
  }

  iframe {
    height: 300px;
    width: 300px;
  }

  .locations-banner {
    height: auto;
    width: auto !important;
    position: relative;
    // margin:50px auto;
    background-size: cover;
    text-align: center;
  }

  .locations-header {
    text-align: center;
  }

  .locationbg1 {
    width: 1200px;
    background: $primary-color;
  }

  .box {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 1em;
    background: rgba(161, 240, 244, 0.3);
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 100%;
    justify-content: space-evenly;
  }

  .address2 {
    margin-top: 20%;
  }

  h1 {
    text-align: center;
    z-index: 99;
    margin: 0 auto;
    width: 100%;
    display: block;
    position: relative;
    color: #000;
  }
  h2 {
    text-align: center;
    font-size: 1.5rem;
    z-index: 99;
    width: 100%;
    display: block;
    position: relative;
    color: #000;
  }

  h2,
  h3 {
    text-align: center;
  }

  .oakland {
    position: absolute;
    margin-top: 600px;
    margin-left: 150px;
    text-align: center;
    border-bottom: 2px solid $bg;
    width: 70%;
    color: #0070cd;
    text-decoration: none;
  }
}

.slide-fade-enter {
  transform: translateY(-40px);
  opacity: 0;
}

.slide-fade-leave-to {
  transform: translateY(40px);
  opacity: 0;
}

// FAQ SECTION FAQ SECTION FAQ SECTION //

.section-faq {
  height: 100vh;
  background: #fff;
  position: relative;
  color: #000;
  text-align: center;

  .click {
    color: $primary-color;
  }
  .arrow2 {
    width: 100%;
    transform: rotate(180deg);
    display: block;
    text-align: center;
    position: absolute;
    margin: 30rem auto;
    animation: bounce 2s ease infinite;
  }
  .questions {
    a {
      text-decoration: none !important;
      color: #000 !important;
      font-size: 1.5rem;
    }

    a:not([href]) {
      color: #000 !important;
      text-decoration: none;
      display: block;
    }
  }

  .faq {
    padding-top: 5%;
  }

  .questions {
    padding-top: 2%;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 0 !important;
  }

  .answer {
    background-color: $primary-color;
  }

  a {
    color: #0070cd !important;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .whiteBox {
    height: 400px;
    width: 50%;
    background: #fff;
    transition: 2s;
    padding-right: 0 !important;
  }

  .twist {
    position: relative;
    top: 10px;
    font-size: 50px;
    transition-property: all;
    transition-duration: 1s;
    transiton-timing-function: linear;
    transition-fill-mode: forwards;
    transform-origin: center;
    transform: rotate(0);
    width: 27px;
    display: inline-block;
  }

  .twist:hover {
    transform: rotate(360deg);
  }

  h1,
  h4 {
    width: 40%;
    border-bottom: 2px solid $bg;
    margin: 0 auto;
    display: block;
  }

  .media-wrapper {
    h1 {
      text-align: center;
    }
  }

  .faq-header {
    text-align: center;
    width: 30%;
    border-bottom: 3px solid $primary-color;
    margin: 0 auto;
    padding-top: 125px;
  }

  .questions {
    li {
      list-style-type: none;
      padding-top: 50px;
      text-align: right;
    }
  }

  .answers {
    padding-left: 0 !important;
    transition: 1s;

    li {
      text-align: left;
      list-style-type: none;
      padding-top: 50px;
      font-size: 35px;
      right: 0;
      // padding: 40px;
    }
  }

  .qaextensive {
    text-align: center;
    width: 100%;
  }

  iframe {
    margin: 2rem auto;
    display: block;
    border: 10px solid $primary-color;
    border-radius: 1%;
  }
}

// DOCTOR DOCTOR DOCTOR DOCTOR DOCTORS //
.section-doctors {
  height: 100vh;
  // background: #ebffff;
  background-image: linear-gradient(to right, #ebffff, #d2ffff);
  position: relative;
  color: #000;

  .header {
    position: relative;

    h1 {
      text-align: center;
      margin: 6rem auto;
      border-bottom: 3px solid $bg;
      width: 20%;
      display: block;
    }
  }

  .arrow3 {
    font-size: 80px;
    width: 100%;
    transform: rotate(180deg);
    display: block;
    text-align: center;
    position: absolute;
    margin: 10% auto;
    animation: bounce 2s ease infinite;

    a {
      text-decoration: none !important;
      color: #000 !important;
    }
  }

  @keyframes bounce {
    0% {
      top: 600px;
    }
    50% {
      top: 620px;
    }
    100% {
      top: 600px;
    }
  }

  .doctors {
    margin-left: 350px;
    margin-right: 350px;
  }

  .headshot {
    border: 12px solid $bg;
    background-color: black;
    transition: all 0.3s ease-in;
    background-color: transparent;
  }

  .headshot::before {
    position: absolute;
    content: 'testing';
    background-color: black;
    top: 0;
    left: 0;
    width: 17rem;
    height: 17rem;
    border-radius: 100%;
    font-size: 30rem;
  }

  .headshot:hover {
    background-color: black;
    opacity: 0.75;
  }

  a {
    color: #fff !important;
    text-decoration: none;
  }

  h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #000;
    margin-top: 35px;
    border-bottom: 2px solid $bg;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    text-align: center;
    font-size: 35px;
    color: #000;
  }

  .doctorPortal {
    width: 850px;
    height: 500px;
    margin: 3em auto;
    display: block;
    border-radius: 1em;
  }

  img {
    width: 17rem;
    height: 17rem;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
  }
}

// OUR STAFF OUR STAFF OUR STAFF OUR STAFF //

.section-staff {
  height: 100vh;
  text-align: center;
  background: #fff;
  position: relative;

  .header {
    h1 {
      text-align: center;
      margin-top: 100px;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
      border-bottom: 3px solid $bg;
      width: 20%;
      display: block;
    }
  }

  h3 {
    text-align: center;
    font-size: 1.5rem;
    color: #000;
    width: 50%;
    margin: 35px auto;
  }

  img {
    height: 25rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 3%;
    border: 12px solid $bg;
  }

  .arrow4 {
    color: #000;
    font-size: 80px;
    width: 100%;
    transform: rotate(180deg);
    display: block;
    text-align: center;
    position: absolute;
    margin: 15rem auto;
    animation: bounce 2s ease infinite;

    a {
      text-decoration: none !important;
    }
  }

  @keyframes bounce {
    0% {
      top: 600px;
    }
    50% {
      top: 620px;
    }
    100% {
      top: 600px;
    }
  }
}

// MEDIA SECTION MEDIA SECTION MEDIA SECTION //
.section-media {
  text-align: center;
  height: 100vh;
  background-image: url('../img/news.jpg');
  background-size: cover;
  position: relative;

  h1 {
    text-align: center;
    margin-top: 1.5em;
    font-size: 80px;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
  }

  img {
    width: 900px;
    height: 800px;
    margin: 5.5em auto;
    display: block;
    position: absolute;
  }

  .media-link {
    color: rgb(0, 107, 182);
  }

  .fa-arrow-right {
    color: white;
    font-size: 80px;
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    animation: bounce2 2s ease infinite;
  }

  @keyframes bounce2 {
    0% {
      left: 0px;
    }
    50% {
      left: 20px;
    }
    100% {
      left: 0px;
    }
  }
}

// CONTACT US SECTION //
.section-contact {
  // span#status {
  //   font-size: 2rem;
  //   margin: 0 auto;
  //   width: 100%;
  //   display: block;
  //   position: absolute;
  // }

  // .send-modal {
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   height: 30%;
  //   width: 30%;
  //   background: white;
  //   display: none;
  // }

  .contact-location {
    input {
      display: inline;
    }

    // .contact-radio {
    //   font-size: 40rem;
    // }
  }

  .send-result {
    font-size: 2rem;
    margin: 0 auto;
    width: 100%;
    display: block;
  }

  .bg-design {
    position: relative;
  }

  h1.brand {
    padding-bottom: 40px;
  }

  .brand {
    h1 {
      text-align: center;
      // font-size: 80px;
      z-index: 99;
      margin: 2em auto;
      width: 100%;
      display: block;
      position: absolute;
      color: #fff;
      padding-bottom: 50px;
    }
    h2 {
      text-align: center;
      font-size: 70px;
      z-index: 99;
      margin: 3.25em auto;
      width: 100%;
      display: block;
      position: absolute;
      color: #fff;
    }
  }

  .contact-details {
    padding: 100px 50px;
    background: #fff;
  }

  .box {
    max-width: 1170px;
    // min-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 1em;
    // box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
  }

  .contact-right {
    padding-top: 100px;
    background: #fff;
    text-align: center;

    p {
      font-size: 1.5rem;
      padding-top: 35px;
    }
    .diagram {
      height: 650px;
      margin-top: 50px;
    }
  }
}

// The section on why to choose GS Specialists//
.section-about {
  background-color: #fff;
  position: relative;
  height: auto;
  padding-bottom: 50px;

  .fas {
    transform: scale(1) rotate(0);
    transition: all 0.3s ease;
  }

  .fas:hover {
    transform: scale(1.25) rotate(12deg);
  }

  .border-between {
    margin-left: 350px;
    margin-right: 350px;
  }

  .aao {
    padding: 50px 0 100px 0;
  }

  .eyeSmart {
    // margin: 40px auto;
    transition: 1000;

    img {
      opacity: 1;
      transition: 0.25s;
    }

    img:hover {
      opacity: 0.75;
      box-shadow: 0 1px 2px 1px #000;
      position: relative;
      transform: translateY(-10px);
    }
  }

  .ojoListo {
    // margin: 40px auto;
    transition: 1000;

    img {
      border-radius: 100%;
      opacity: 1;
      transition: 0.25s;
    }

    img:hover {
      opacity: 0.75;
      box-shadow: 0 1px 2px 1px #000;
      position: relative;
      transform: translateY(-10px);
    }
  }

  h1,
  h4,
  h2 {
    text-align: center !important;
  }

  h3,
  p {
    margin: 0 auto;
    width: 70%;
    display: block;
    text-align: center;
  }

  .fas {
    color: $secondary-color;
    margin: 20px auto;
    display: block;
    text-align: center;
    padding-top: 1rem;
  }

  .about-header {
    // padding: 75px;
    text-align: center;
    width: 40%;
    border-bottom: 3px solid $primary-color;
    margin: 0 auto;
    padding-top: 5%;
  }

  .arrow2 {
    color: #0070cd;
    font-size: 80px;
    /* margin: 0 auto; */
    width: 100%;
    transform: rotate(180deg);
    display: block;
    text-align: center;
    position: absolute;
    margin: 15rem auto;
    animation: bounce 2s ease infinite;
    // transition: font-size 1s;
    a {
      text-decoration: none !important;
    }
  }

  @keyframes bounce {
    0% {
      top: 600px;
    }
    50% {
      top: 620px;
    }
    100% {
      top: 600px;
    }
  }
}

.section-landscape {
  height: 100vh;

  .translate {
    height: 250px;
    width: 250px;
  }
}

// Modal Section for Doctors' resumes //
